In [1]:
import pandas as pd
bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [2]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [3]:
bike['bikeid'].mode()

0    33887
dtype: int64

In [4]:
# # Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer
mode_usertype = bike['usertype'].mode()[0]
count_mode_user = bike[bike['usertype'] == mode_usertype].shape[0]

count_mode_user / bike.shape[0]

0.7740066666666666

In [5]:
# Кто больше занимается велоспортом — мужчины или женщины?
mode_gender = bike['gender'].mode()[0]
count_mode_gender = bike[bike['gender'] == mode_gender].shape[0]
count_mode_gender

183582

In [6]:
# 36.6.7 уточнить как решать
bike.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [7]:
# 36.6.8  Удалите признаки идентификаторов стоянок.
a = bike.drop(['start station id','end station id'], axis=1)
display(a)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [8]:
# 36.6.9 
# Найдите количество клиентов старше 60 лет.
bike['Age'] = 2018 - bike['birth year']
delete = bike.drop(['birth year'], axis = 1)
delete[delete['Age'] > 60].shape[0]

11837

In [9]:
#  Задание 36.6.10
#  В качестве ответа запишите среднюю длительность поездки в секундах.

bike['stoptime'] = pd.to_datetime(bike['stoptime'])
bike['starttime'] = pd.to_datetime(bike['starttime'])
bike['trip duration'] = (bike['stoptime'] - bike['starttime']).dt.seconds
round(bike['trip duration'].mean(), 2)

999.91

In [10]:
# Задание 36.6.11
# Выясните, сколько поездок начиналось в выходные.
bike['starttime'] = pd.to_datetime(bike['starttime'])
bike['weekend'] = bike['starttime'].dt.dayofweek
weekend_count = bike[(bike['weekend'] == 5) | (bike['weekend'] == 6)].shape[0]
weekend_count

115135

In [11]:
# 36.6.12
# Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, 
# совёршенных ночью, за представленный в данных период времени?
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
bike['time_of_day'] = bike['starttime'].dt.hour.apply(get_time_of_day)
a = bike[bike['time_of_day'] == 'day'].shape[0]
b = bike[bike['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9